img , figure{
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 color: white;
 font-weight: inherit;
 font-size: inherit;
}


.main .seccion{

    width: 100%;
    min-height: 30vh;

    /* margin: 1em 0; */
    padding: 3em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}



.navbar.navbar-expand-lg.bg-secondary{
    background-color: rgb(189, 59, 124) !important;
}

i.fa-brands.fa-github.fa-lg:hover{
    color: rgb(218, 50, 240);
}

i.fa-brands.fa-youtube.fa-lg:hover{
    color: red;
}

i.fa-brands.fa-instagram.fa-lg:hover{
    color: pink;
}



#hero{
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 29rem;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.col-3{
    position: relative;
    z-index: 2;
}

.row{
    position: relative;
    z-index: 2;
    text-align: right;
    margin-top: -350px;
}

section{
    position: relative;
    z-index: 2;
    text-align: left;
}

section.about{

    margin-top: 30rem;
    position: relative;
    z-index: 2;
}

