img , figure{
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}


li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 color: inherit;
 font-weight: inherit;
 font-size: inherit;
}

select {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -webkit-hyphens: auto;
    background-color: transparent;
    display: flex;
    color: inherit;
}

body{
    font-family: var(--tipo-principal);
    font-size: 100%;
    min-height: 100vh;
    background-color: var(--blanco);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -noz-osx-font-smoothing: grayscale;
}


.header{
    /* width: 100%;
    min-width: 5em;
  

    padding: 1em 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    display: none; */
}

.header .nav .ul .li{

    margin:0 1em;
}


.main{

    margin: 0 0 0;
    text-align: center;
}

.main .seccion{

    width: 100%;
    min-height: 30vh;
 
    /* margin: 1em 0; */
    padding: 3em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}


.seccion .grid{
    background: rgb(112, 9, 9);
    width: 90%;
    max-width: 40em;
    margin: 1em 0;

    display: grid;
    grid-template-columns: repeat( auto-fit , minmax( 10rem , 1fr));
    gap: 1em;
}
.seccion .article{
    width: 100%;
    min-height: 20vh;
    background: lightgoldenrodyellow;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;

}

.seccion .h4{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0) ;
    backdrop-filter: blur(1em);
    position: absolute;
    bottom:0;
    left:0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
    color: white;
    font-size: 1.8em;
    font-family: var(--tipo-titular);
    font-style: italic;
    opacity: 0;
    transform:translateZ(1) scale(1.2);
    transition: all .5s ease;
}
.seccion .article:hover .h4{
    opacity: 1;
    transform:translateZ(1) scale(1);
}



.navbar.navbar-expand-lg.bg-secondary{
    background-color: rgb(189, 59, 124) !important;
}

i.fa-brands.fa-github.fa-lg:hover{
    color: rgb(218, 50, 240);
}

i.fa-brands.fa-youtube.fa-lg:hover{
    color: red;
}

i.fa-brands.fa-instagram.fa-lg:hover{
    color: pink;
}

i.fa-regular.fa-user.fa-lg:hover{
    color: brown;
}


.works .h2{
margin: 0 0 1rem;

}


.about{}
.about .h2{
    margin: 0 0 1rem;
    position: relative;
    z-index: 2;
}
.about .p{
    max-width: 50em;
    margin: 0 0 1em;
    text-align: center;
    position: relative;
    z-index: 2;
}


.footer{
    /* background-color: lightpink; */
    padding:2em 0;
    text-align: center;
}


#hero{
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.col-3{
    position: relative;
    z-index: 2;
}