img , figure{
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 color: white;
 font-weight: inherit;
 font-size: inherit;
}




.navbar.navbar-expand-lg.bg-secondary{
    background-color: rgb(189, 59, 124) !important;
}

i.fa-brands.fa-github.fa-lg:hover{
    color: rgb(218, 50, 240);
}

i.fa-brands.fa-youtube.fa-lg:hover{
    color: red;
}

i.fa-brands.fa-instagram.fa-lg:hover{
    color: pink;
}

.navbar.navbar-expand-lg{
    background: black;
}


#hero{
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 29rem;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.col-3{
    position: relative;
    z-index: 2;
}

.col-6{
    position: relative;
    z-index: 2;
    text-align: center;
}

